@import url("https://use.typekit.net/ojv4ekx.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
::-webkit-scrollbar {
    background-color:#116bf1;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ffff00;
    border-radius: 40px;
}
body {
  height: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #21272b;
}
ul {
  list-style: none;
}
hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(128, 128, 128, 0.2);
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-2 {
  font-size: 2rem;
  font-weight: 800;
}
.p-font {
  font-size: 1.5rem;
  font-weight: 400;
}
.f-size-15 {
  font-size: 1.5rem;
}
.sec-p-f-size {
    font-size: 1.25rem;
}
.p-f-size {
    font-size: 1.125rem;
}
.mb-15 {
  margin-bottom: 1.5rem;
}
nav {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  box-shadow: 0 0 5px grey;
  border-radius: 60px;
  max-width: 700px;
  gap: 100px;
  flex-wrap: nowrap;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  transition: 0.9s cubic-bezier(1, -0.02, 0, 1);
  z-index: 1000;
}
nav.closing {
  transition: 0.8s cubic-bezier(0.78, -0.22, 0.45, 1.31);
}
@keyframes animate {
  from {
    transform: translateY(-80px);
  }

  to {
    transform: translateY(0);
  }
}
nav.animation {
  animation: animate 0.5s ease forwards;
}
nav > .brand {
  cursor: pointer;
}
nav > .brand .brand-logo {
  width: 70px;
  border-radius: 50%;
  border: 5px solid #116bf1;
}
nav > .links {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  background-color: #116bf1;
  padding: 20px;
  border-radius: 40px;
  transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}
nav > .links > .link > a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  transition: 0.3s ease;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.6s ease;
  font-family: "Playwrite US Modern", cursive;
}
nav > .links > .link > a:hover {
  background-color: #ffff00;
  color: #116bf1;
}
section.main {
  flex-direction: column;
  margin-top: 60px;
}
section.hero {
  flex-direction: column;
  gap: 15px;
}
section.hero > img {
  margin-top: 25px;
  width: 250px;
  border-radius: 50%;
}
section.hero > .hero-img {
  margin-top: 60px;
  width: 100%;
}
section.hero > h1 {
  font-size: 4rem;
  font-weight: 700;
}
section#about {
  width: 100%;
  /* full viewport width */
  background-color: #ffff00;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 150px 280px 18rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 642px;
  gap: 25px;
}
section#about > p {
  line-height: 1.5;
}
section#skills > section.skills {
  position: relative;
  z-index: 1;
}
section#skills {
  background-color: rgb(249, 249, 249);
  box-shadow: 0 0 3px grey;
  border-radius: 10px;
  width: 95%;
  margin: -160px 0 1rem;
  z-index: 1;
}
section#skills > .skills > * {
  flex: 1 1 50%;
}
section#skills > section.skills > *:last-child {
  border: none;
}
section#skills div.size {
  border-right: 1px solid rgb(212, 212, 212);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 690px;
  padding: 70px 50px;
}
section#skills div.size .identifier {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffb300;
}
section#skills div.size > h2 {
  margin: 1.5rem 0;
}
section#skills div.size > .c-orange {
  color: #ffb300;
  margin: 50px 0 8px;
}
section#skills div.size > ul > li {
  margin-top: 0.25em;
}
section#skills div.size > ul:first-child {
  margin-top: 0;
}
section#projects {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 9rem 4.5rem;
}
section#projects>div.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  padding: 4rem 50px;
}
section#projects>div.projects > * {
  width: 35%;
  position: relative;
}
section#projects>div.projects img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  transition: 0.3s ease;
}
section#projects>div.projects img:hover {
  scale: 1.05;
}
section#projects>div.projects div.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  gap: 30px;
  position: absolute;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-color: #21272b;
  color: white;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.7s ease;
}
section#projects>div.projects div.details:hover {
  opacity: 1;
}
section#projects>div.projects div.details > p {
  font-weight: 500;
}
section#projects>div.projects div.details > a {
  color: white;
  border: 2px solid #ffff00;
  padding: 10px 20px;
  font-weight: 400;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.3s ease;
}

section#projects>div.projects div.details > a:hover {
  background-color: #ffff00;
  color: #21272b;
}
section#cta-conversation {
  margin: 6rem 0 9rem;
  flex-direction: column;
}
section#cta-conversation > h2 {
  font-size: 1.625rem;
}
section#cta-conversation > p {
  line-height: 1.5;
}
section#cta-conversation > a {
  margin-top: 2rem;
  padding: 0.75em 2.25em;
  text-decoration: none;
  border: 2px solid #ffff00;
  color: #fff000;
  transition: 0.5s ease;
  border-radius: 40px;
  background: none;
}
section#cta-conversation > a:hover {
  background-color: #fff000;
  color: #f6f6f6;
  cursor: pointer;
}
section#testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 9rem 4.5rem;
}
nav.sticky {
  position: sticky;
  top: 20px;
  gap: 80px;
}
ul.links.island {
  opacity: 0;
  transform: scale(0.85);
}
nav.dynamic {
  padding: 10px 50px;
  max-width: 170px;
}
